*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    background-color: #0B2447;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 9999;
    text-align: center;
  }
  .navigation{
    display: flex;
    }
    .logo{
    width: 4%;
    margin-left: -80px;
    }
    .navigation a{
      margin: 10px;
      position: relative;
      color: #ffffff;
      text-decoration: none;
      font-weight: 400;
      margin-left: 30px;
    }
    .navigation a::after{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      background: #ffffff;
      border-radius: 5px;
      bottom: -6px;
      transform: scaleX(0);
      transition: transform .5s;
      transform-origin: right;
    }
    .navigation a:not(#exception):hover:after{
      transform-origin: left;
      transform: scaleX(1);
    }
    /*menu của genres*/
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-content {
    margin-top: 20px;
    opacity: -1;
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
    background-color: #D8D4D4;
    z-index: -1;
    padding-right: 40px;
    border-radius: 24px;
    pointer-events: none;
    }
    .dropbtn{
    top: 8px;
    }
    .dropbtn::before{
    content:"";
    position: absolute;
    display: block;
    height: 20px;
    width: 100%;
    /* background-color: #E91010; */
    top: 20px;
    left: 5px;
    }
    .dropdown-content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    }
    
    /* .dropdown-content td {
    padding: 5px;
    } */
    
    .dropdown:hover .dropdown-content {
    /* display: block; */
    /* max-height: 30vw; */
    opacity: 1;
    z-index: 1;
    transition: 0.5s;
    pointer-events: all;
    }
    
    /* Genre table styling */
    .dropdown-content table tr:not(:last-child) {
    border-bottom: 1px solid #D8D4D4;
    }
    .dropdown-content table tr:nth-child(odd) {
    background-color: #D8D4D4;
    }
    
    .dropdown-content table tr:nth-child(even) {
    background-color: #D8D4D4;
    }
    
    .dropdown-content table td {
    width: 14.28%;
    text-align: center;
    vertical-align: middle;
    }
    
    .dropdown-content table td a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    }
    
    .dropdown-content table td a:hover {
    background-color: #6c52ff;
    }
    
    
    .search {
    font-family: inherit;
    font-size: inherit;
    background-color: #ffffff;
    padding: 13px 20px;
    border-radius: 20px;
    height: 10px;
    width: 10px;
    transition: all ease-in-out .5s; 
    }
    .search .fa-magnifying-glass{
    color: #000000;
    font-size: 15px;
    }
    .search > .search__input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    }
    .chosen-film{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        margin-top: 50px;
        position: relative;
    }
    .chosen-film .film{
        width: 100%;
        height: 650px;
    }
    .chosen-film .film .big-chosen-film{
      width: 100%;
      height: 100%;
    }
    .chosen-film .film .card{
      display: flex;
      /* border: 1px solid black; */
      position: absolute;
      top: 50px;
      left: 20em;
      width: 1000px;
      height: 300px;
  }
  .chosen-film .film .card .infor{
    /* border: 1px solid black; */
    height: 200px;
    width: 700px;
    margin: 5px 40px;
    color: #ffffff;
  }
  .chosen-film .film .card .infor h3{
    color: rgb(207, 207, 27);
    text-transform: uppercase;
  }
  .chosen-film .film .card .infor .infor-1{
    margin: 5px 0px 5px 0px;
  }
  .chosen-film .film .card .infor .infor-1 .age{
    /* border: 1px solid black; */
    background-color: red;
    padding: 2px;
    border-radius: 3px;
  }
  .chosen-film .film .card .infor .infor-1 .quality{
    background-color: blue;
    padding: 2px 15px 2px 15px;
    border-radius: 3px;
  }
  .chosen-film .film .card .infor .AG-1 div{

    margin: 7px 0px 7px 0px;
  }
  .chosen-film .film .card .infor .AG-1 span{
    color: rgb(255, 0, 0);
    margin-bottom: 100px;
    font-weight: bold;
  }
  .chosen-film .film .card .infor .btn-film{
    /* border: 1px solid rgb(153, 2, 2); */
    margin-top: 35px;
  }
  .chosen-film .film .card .infor .btn-film .play-2,.share,.bookmark{
    padding: 7px;
    margin-right: 15px;
    border-radius: 3px;
  }
  /* .chosen-film .film .card .infor .btn-film span .play-2 button{
    background-color: red;
  } */
  .cont-star{
    /* background-color: #333; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  .cont-star .star-widget{
    margin-top: 20px;
    display: flex;
  }
  .cont-star .star-widget .rating-logo{
    border: 3px solid #fd4;
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-weight: bold;
    color: #fd4;
  }
  .cont-star .star-widget-1{
    /* border: 1px solid white; */
    margin-left: 10px;
    /* padding: 10px; */
  }
  .cont-star .star-widget-1 .vote{
    font-size: 12px;
  }
  .cont-star .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 25px;
    color: #444;
    padding: 5px;
    float: right;
    transition: all 0.2s ease;
  }
   input:not(:checked) ~ label:hover,
   input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }
  input:checked ~ label{
    color: #fd4;
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form h1:before{
    content:"I just hate it ><";
  }
  #rate-2:checked ~ form h1:before{
    content:"I don't like it ._.";
  }
  #rate-3:checked ~ form h1:before{
    content:"It is awesome :D";
  }
  #rate-4:checked ~ form h1:before{
    content:"I just like it <3";
  }
  #rate-5:checked ~ form h1:before{
    content:"I just love it <333";
  }
  .cont-star form h1{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  .part-2{
    position: absolute;
    /* border:1px solid #c40f0f; */
    width: 100%;
    height: 200px;
    margin-top: 360px;
    color: #ffffff;
  }
  .part-2 .trailer h3{
    /* border: 1px solid #c40f0f; */
    margin: 10px ;
  }
  .part-2 .trailer .trailer-box .trailer-position{
    /* border: 1px solid red; */
    padding: 20px;
  }
  .part-2 .trailer .trailer-box .trailer-position span{
    margin-left: 30px;
    /* border: 1px solid red; */
    padding: 5px 8px;
    border-radius: 3px;
    background: #333;
  }
  .part-2 .trailer .episodes-box .episodes-position{
    /* border: 1px solid red; */
    padding: 20px;
  }
  .part-2 .trailer .episodes-box .episodes-position span{
    margin-left: 30px;
    /* border: 1px solid red; */
    padding: 5px 30px;
    border-radius: 3px;
    background: #333;
  }
