*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: 'Poppins', sans-serif;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  z-index: 9999;
  text-align: center;
}
body{
display: flex;
justify-content: center;
align-items: center; 
  background-color: #0B2447;
  flex-direction: column;
min-height: 100vh;
}
main{
height: 100%;
width: 100%;

}
.navigation{
display: flex;
}
.logo{
width: 4%;
margin-left: -80px;
}
.navigation a{
  margin: 10px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  margin-left: 30px;
}
.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: #ffffff;
  border-radius: 5px;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: right;
}
.navigation a:not(#exception):hover:after{
  transform-origin: left;
  transform: scaleX(1);
}
/*menu của genres*/
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
margin-top: 20px;
opacity: -1;
overflow: hidden;
transition: 0.5s;
position: absolute;
background-color: #D8D4D4;
z-index: -1;
padding-right: 40px;
border-radius: 24px;
pointer-events: none;
}
.dropbtn{
top: 8px;
}
.dropbtn::before{
content:"";
position: absolute;
display: block;
height: 20px;
width: 100%;
/* background-color: #E91010; */
top: 20px;
left: 5px;
}
.dropdown-content table {
width: 100%;
border-collapse: separate;
border-spacing: 0;
}

/* .dropdown-content td {
padding: 5px;
} */

.dropdown:hover .dropdown-content {
/* display: block; */
/* max-height: 30vw; */
opacity: 1;
z-index: 1;
transition: 0.5s;
pointer-events: all;
}

/* Genre table styling */
.dropdown-content table tr:not(:last-child) {
border-bottom: 1px solid #D8D4D4;
}
.dropdown-content table tr:nth-child(odd) {
background-color: #D8D4D4;
}

.dropdown-content table tr:nth-child(even) {
background-color: #D8D4D4;
}

.dropdown-content table td {
width: 14.28%;
text-align: center;
vertical-align: middle;
}

.dropdown-content table td a {
display: block;
color: #333;
text-decoration: none;
font-weight: bold;
padding: 10px;
border-radius: 5px;
}

.dropdown-content table td a:hover {
background-color: #6c52ff;
}


.search {
font-family: inherit;
font-size: inherit;
background-color: #ffffff;
padding: 13px 20px;
border-radius: 20px;
height: 10px;
width: 10px;
transition: all ease-in-out .5s; 
}
.search .fa-magnifying-glass{
color: #000000;
font-size: 15px;
}
.search > .search__input{
flex: 1;
height: 40px;
border: none;
outline: none;
font-size: 15px;
}
.poster{
width: 100%;
padding-top: 50px;
padding-bottom: 30px;
height: 30rem;
margin-bottom: -40px;
left: 50%;
right: 50%;
}
.img-slider{
position: relative;
height: 500px;
background: #0B2447;
}
.img-slider .slide{
z-index: 1;
position: absolute;
width: 100%;
clip-path: circle(0% at 0 50%);
}
.red.see_more{
  color: red;
}
.img-slider .slide.active{
clip-path: circle(230% at 0 50%);
transition: 1s;
transition-property: clip-path;
}
.img-slider .slide img{
z-index: 1;
border-radius: 5px;
opacity: 0.5;
/* opacity: 0.7;*/
}
.img-slider .slide .info{
position: absolute;
top: 80px;
left: -10px;
margin-left: 300px;
}
.img-slider .slide .info h2{
color: #ffffff;
font-size: 45px;
text-transform: uppercase;
font-weight: 700;
}
.img-slider .slide .info p{
background: rgba(0,0,0,0,0.1);
font-size: 20px;
width: 80%;
padding-top:10px;
border-radius: 4px;
}
h2{
display: flex
}
.img-slider .radio-btn{
z-index: 2;
position: absolute;
display: flex;
bottom: 60px;
left: 80%;
transform: translateX(-50%);
}
.img-slider .radio-btn .btn{
background: rgba(255, 255, 255, 0.5);
width: 12px;
height: 12px;
margin: 10px;
border-radius: 50%;
cursor: pointer;
}
.img-slider .radio-btn .btn.active{
background: #E91010;
box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
@media(max-width: 820px){
.img-slider{
  width: 600px;
  height: 375px;
}
.img-slider .slide .info{
  padding: 10px 25px;
}
.img-slider .slide .info h2{
  font-size: 35px ;
}
.img-slider .slide .info p{
  width: 70%;
  font-size: 15px;
}
.img-slider .radio-btn{
  bottom: 25px;
}
.img-slider .radio-btn .btn{
  width: 10px;
  height: 10px;
  margin: 8px;
}
}

@media(max-width: 620px){
.img-slider{
  width: 400px;
  height: 250px;
}
.img-slider .slide .info{
  padding: 10px 20px;
}
.img-slider .slide .info h2{
  font-size: 35px ;
}
.img-slider .slide .info p{
  width: 70%;
  font-size: 15px;
}
.img-slider .radio-btn{
  bottom: 25px;
}
.img-slider .radio-btn .btn{
  width: 8px;
  height: 8px;
  margin: 6px;
}
}

@media(max-width: 420px){
.img-slider{
  width: 320px;
  height: 200px;
}
.img-slider .slide .info{
  padding: 5px 10px;
}
.img-slider .slide .info h2{
  font-size: 25px ;
}
.img-slider .slide .info p{
  width: 90%;
  font-size: 11px;
}
.img-slider .radio-btn{
  bottom: 10px;
}
}
.INFO{
color: #E91010;
text-shadow: 2px 15px 27px #5b6167
}
.col-while{
color: #ffffff;
}
.size{
font-size: 30px;
}
.main_poster_header{
font-size: 20px;
}
.play{
position: absolute;
color: #ffffff;
padding: 20px;
margin-top: 5%;
background-color: red;
width: 7%;
font-size: 20px;
text-align: right;
width: 140px;
border-radius: 10px;
top: 85%;
background-image: url("../icon/play-solid.svg");
background-position: 5px 50%;
background-repeat: no-repeat;
padding-left: 40px;
padding: 10px;
cursor: pointer;
}
.play:hover{
background-color: rgb(206, 28, 28);
}
.update-content1{
text-align: center;
}
.update{
min-height: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
} 
.card-content{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
/* margin: 30px; */
margin-left: 10%;
margin-right: 10%;
}
.card-content .card{
position: relative;
/* background: #0c0c0c; */
background: #0B2447;
max-width: 325px;
width: 325px;
height: 550px;
margin: 20px;
border-radius: 10px;
overflow: hidden;
}
.card-content .card .card-image{
max-height: 500px;
}
.card-content .card .card-image .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 5em;
  cursor: pointer;
}

.card-content .card .card-image img{
  display: block;
  border-radius: 10px;
  max-width: 100%;
  width: 330px;
  height: 450px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}
.card-image:hover img{
  opacity: 0.5;
}

.card-image:hover .middle {
  opacity: 1;
}
.card-info{
position: relative;
color: #ffffff;
padding: 10px 20px 20px;
text-align: center;

}
.card-info h3{
font-size: 1em;
font-weight: 800;
margin-bottom: 5px;
}
.card-info p{
font-size: 1em;
margin-bottom: 5px;
}
.tooltip{
  /* width: -moz-fit-content;
  width: fit-content; */
  max-width: 600px;
  /* max-height: 500px; */
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.1);
}
.tooltip .item{
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-bottom: 1em;
}
.tooltip .item .NameFilm{
  color: #E91010;
  font-size: 2.5em;
}
.tooltip .item .STD{
  padding-top: 10px;
}
.tooltip .item .AG div{
  padding-top: 10px;
}
.tooltip .item .AG div span{
  color: #ff0000;
  font-weight: bold;
}
.card:hover .tooltip{
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.pagination{
text-align: center;
margin: 30px 30px 60px;
user-select: none;
}
.pagination li{
display: inline-block;
margin: 5px;
box-shadow: 0 5px 25px rgb(1 1 1 /10%);
}
.pagination li a{
color: #fff;
text-decoration: none;
font-size: 1.2em;
line-height: 45px;
}
.previous-page, .next-page{
background: #6c52ff;
width: 80px;
border-radius: 45px;
cursor: pointer;
transition: 0.3s ease;
}
.previous-page:hover{
transform: translateX(-5px);
}
.next-page:hover{
transform: translateX(5px);
}
.current-page, .dots{
background: #ccc;
width: 45px;
border-radius: 50%;
cursor: pointer;
}
.pagination .active{
background: #50577A;
}
.disable{
background: #ccc;
}
#footer {
justify-content: center;
background-color: #50577A;
color: white;
/* margin-top: 450px; */
text-align: center;
border-radius: 5px;
padding: 40px;
/* day la phan t fix co gi chinh sua o day ne */
/* position: fixed; */
  bottom: -100px;
  width: 100%;
  /* margin-top: 50px; */
/* con day la luc chua sua */
margin-bottom: -50px;
/* position: absolute; */
left: 0;
right: 0;
}

#footer .footer1 i {
font-size: 25px;
padding: 5px 10px 20px;
}

#footer .footer2 a {
font-size: 25px;
text-decoration: none;
color: white;
position: relative;
margin: 20px;
}

#footer .footer2 a::after {
content: '';
position: absolute;
left: 0;
width: 100%;
height: 3px;
background: #ffffff;
border-radius: 5px;
bottom: -6px;
transform: scaleX(0);
transition: transform .5s;
transform-origin: right;
}

#footer .footer2 a:hover::after {
transform-origin: left;
transform: scaleX(1);
}

.up{
font-size: 35px;

color: #ffffff;
text-decoration: underline;
text-align: right;
z-index: 1;
}
.up_search{
font-size: 35px;
color: #ffffff;
}
 footer{
/* font-size: 0.8rem;
margin-top: auto;*/
/* position: absolute;  */
width: 100%;
left:0;
right: 0;
}
.advance{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  /* margin-bottom: 100px; */
}
.advance p{
  font-size: 25px;
  text-align: center;
}
.advance td{
  padding: 5px;
}
 /* .btn-ADS{
  border: 1px solid #fff;
  border-radius: 10px;
  width: fit-content;
  right: 0px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
} */
.btn-ADS {
  text-align: right;
}
.btn-ADS button {
  float: right;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background-color: #272ac7;
  color: white;
  transition: all 0.3s ease;
}

.btn-ADS button:hover {
  background-color: #331169;
  cursor: pointer;
}
/* input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #666;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

input[type="checkbox"]:checked + label:before {
  background-color: #515bee;
}

label:hover:before {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
.containerad{
  display: inline-block;
  position:relative;
  cursor:pointer;
  font-size:20px;
  user-select: none;
  padding-left:20px;
  /* margin-bottom:10px; */
}
.containerad input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}
.checkmark{
  position:absolute;
  top:4px;
  left:0;
  width:15px;
  height:15px;
  background:#855aeb;
  border-radius:50%;
}
/* .containerad:hover .checkmark{
  background:#231444;
} */
.checkmark:after{
  content:"";
  position:absolute;
  display:none;
}
/* .containerad .checkmark:after{
  top:50%;
  left:50%;
  width: 5px;
  height: 5px;
  border-radius:50%;
  border: solid 3px rgb(27, 8, 70);
  transform:translate(-50%,-50%) rotate(45deg);
} */
.containerad input:checked ~ .checkmark{
  background:#fff;
}
.containerad input:checked ~ .checkmark:after{
  display:block;
}

.title{
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.color_info{
  color:#000000
}
.chosen-film{
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  margin-top: 50px;
  position: relative;
}
.chosen-film .film{
  width: 100%;
  height: 650px;
}
.chosen-film .film .big-chosen-film{
width: 100%;
height: 100%;
opacity: 0.5;
}
.chosen-film .film .card{
display: flex;
/* border: 1px solid black; */
position: absolute;
top: 50px;
left: 20em;
width: 1000px;
height: 300px;
}
.chosen-film .film .card .infor{
/* border: 1px solid black; */
height: 200px;
width: 700px;
margin: 5px 40px;
color: #ffffff;
}
.chosen-film .film .card .infor h3{
color: rgb(207, 207, 27);
text-transform: uppercase;
}
.chosen-film .film .card .infor .infor-1{
margin: 5px 0px 5px 0px;
}
.chosen-film .film .card .infor .infor-1 .age{
/* border: 1px solid black; */
background-color: red;
padding: 2px;
border-radius: 3px;
}
.chosen-film .film .card .infor .infor-1 .quality{
background-color: blue;
padding: 2px 15px 2px 15px;
border-radius: 3px;
}
.chosen-film .film .card .infor .AG-1 div{

margin: 7px 0px 7px 0px;
}
.chosen-film .film .card .infor .AG-1 span{
color: rgb(255, 0, 0);
margin-bottom: 100px;
font-weight: bold;
}
.chosen-film .film .card .infor .btn-film{
/* border: 1px solid rgb(153, 2, 2); */
margin-top: 35px;
}
.chosen-film .film .card .infor .btn-film .play-2{
padding: 7px;
margin-right: 15px;
border-radius: 3px;
background: red;
}
.chosen-film .film .card .infor .btn-film .play-2:hover,.share:hover,.bookmark:hover{
opacity: 0.8;
}
.chosen-film .film .card .infor .btn-film .share{
padding: 7px;
margin-right: 15px;
border-radius: 3px;
background:blue;
}
.chosen-film .film .card .infor .btn-film .bookmark{
padding: 7px;
margin-right: 15px;
border-radius: 3px;
background: green;
}
/* .chosen-film .film .card .infor .btn-film span .play-2 button{
background-color: red;
} */
.cont-star{
/* background-color: #333; */
display: flex;
align-items: start;
justify-content: center;
flex-direction: column;
}
.cont-star .star-widget{
margin-top: 20px;
display: flex;
}
.cont-star .star-widget .rating-logo{
border: 3px solid #fd4;
border-radius: 50%;
width: 50px; 
height: 50px; 
display: flex; 
justify-content: center; 
align-items: center;
font-weight: bold;
color: #fd4;
}
.cont-star .star-widget-1{
/* border: 1px solid white; */
margin-left: 10px;
/* padding: 10px; */
}
.cont-star .star-widget-1 .vote{
font-size: 12px;
}
.cont-star .star-widget input{
display: none;
}
.star-widget label{
font-size: 25px;
color: #444;
padding: 5px;
float: right;
transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}
input:checked ~ label{
color: #fd4;
}
input#rate-5:checked ~ label{
color: #fe7;
text-shadow: 0 0 20px #952;
}
#rate-1:hover ~ form h1:before{
content:"I just hate it ><";
}
#rate-2:hover ~ form h1:before{
content:"I don't like it ._.";
}
#rate-3:hover ~ form h1:before{
content:"It is awesome :D";
}
#rate-4:hover ~ form h1:before{
content:"I just like it <3";
}
#rate-5:hover ~ form h1:before{
content:"I just love it <333";
}
.cont-star form h1{
width: 100%;
font-size: 25px;
color: #fe7;
font-weight: 500;
margin: 5px 0 20px 0;
text-align: center;
transition: all 0.2s ease;
}
.part-2{
position: absolute;
/* border:1px solid #c40f0f; */
width: 100%;
height: 200px;
margin-top: 360px;
color: #ffffff;
}
.part-2 .trailer h3{
/* border: 1px solid #c40f0f; */
margin: 10px ;
}
.part-2 .trailer .trailer-box .trailer-position{
/* border: 1px solid red; */
padding: 20px;
}
.part-2 .trailer .trailer-box .trailer-position span{
margin-left: 30px;
/* border: 1px solid red; */
padding: 5px 8px;
border-radius: 3px;
background: #333;
}
.part-2 .trailer .episodes-box .episodes-position{
/* border: 1px solid red; */
padding: 20px;
}
.part-2 .trailer .episodes-box .episodes-position span{
margin-left: 30px;
/* border: 1px solid red; */
padding: 5px 30px;
border-radius: 3px;
background: #333;
}
.watch-btn {
  background-color: red;
  color: #ffffff;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.play-3{
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: red;
  top: 115%;
  position: absolute;
}
.comment-section{
  margin: 0px 20em;
  border-radius: 10px;
}
.comment-section .name-author{
  padding: 10px;
  border: 1px solid #952;
  border-radius: 5px;
  background-color: #9ca8e4;
  width: fit-content;
}
.comment-section .cmt-author{
  padding: 10px;
  border: 1px solid #952;
  border-radius: 5px;
  background-color: #9ca8e4;
  width: fit-content;
}
.comment-section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #50577A;
}
.comment-section h2 {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment {
  margin-bottom: 20px;
}
.comment p {
  margin: 0;
  color: #fff;
}
.comment-author {
  font-weight: bold;
}
.comment-date {
  font-style: italic;
  font-size: 0.8em;
  color: #999;
  margin-left: 10px;
}
.comment-form {
  margin-bottom: 20px;
}
.comment-form label {
  display: block;
  margin-bottom: 5px;
}
.comment-form input[type="text"], .comment-form textarea {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.comment-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.comment-form input[type="submit"]:hover {
  background-color: #555;
}